#home{
    margin: 1%;
    padding: 2% 0% 0% 2%;
}

#icon{
    display: flex;
    justify-content: flex-start;
    padding-top: 0.4%;
    margin-right: 2%;
}

.site-layout-background {
    background: #F1F1F1;
    /* padding: 1%; */
    /* min-height: 360px;
    height: 97%; */
}

.ant-layout-content {
    margin: 0% 0% 0% 0%;
    -ms-flex: auto;
    flex: auto;
    min-height: 0;
}

#page-home {
    font-size: x-large;
    color: #DA213D;
    /* border-left: 2px solid #DA213D; */
    display: flex;
    padding-top: 0.5%;
    /* padding-left: 3%; */
}

#row2{
    border-radius: 2mm;
    padding: 3% 3% 3% 3%;
}

#statistic{
    border-radius: 2mm;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
}

#row3{
    padding: 0% 3% 2% 3%;
    font-size: larger;
}

.ant-table-wrapper {
    clear: both;
    max-width: 100%;
    padding: 0% 3% 3% 3%;
}

#chart{
    padding-top: 1%;
    background-color: #ffffff;
    border-radius: 2mm;
    padding: 2%;
    margin-right: 1%;
    /* margin-bottom: 3%; */
    font-size: 18px;
}

#visit{
    padding-top: 1%;
    background-color: #ffffff;
    border-radius: 2mm;
    padding: 2%;
    /* margin-bottom: 3%; */
}

#visit1{
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    background-color: #ffffff;
    border-radius: 2mm;
    padding: 2%;
    margin-left: 2%;
}

#visit-head{
    margin-bottom: 2%;
    display: flex;
    font-size: 18px;
}

#visit-member{
    background-color: #E6FFF8;
    padding: 5%;
    border-radius: 2mm;
}

#visit-user{
    background-color: #d4cfee;
    padding: 5%;
    border-radius: 2mm;
}

.ant-statistic-title {
    margin-bottom: 4px;
    color: black;
    font-size: 16px;
}

.ant-statistic-content {
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    display: flex;
    justify-content: center;
}

#interest-product{
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
}

#col-product1{
    margin: 3%;
}

#col-interestedproduct{
    background-color: #ffffff;
    border-radius: 1mm;
    padding: 2%;
}

#interestedproduct{
    padding-bottom: 2%;
    font-size: larger;
}

#btnadd-popularproduct{
    margin-left: 1%;
    background-color: #DA213D;
    color: #ffffff;
}

#confirm{
    display: flex;
    justify-content: center;
    color: #605594;
}

#delete{
    color: #da213d;
    cursor: pointer;
}

/* .ant-table-pagination.ant-pagination {
    margin: 16px 0;
    display: none;
} */

.ant-table-wrapper {
    clear: both;
    max-width: 100%;
    padding: 0% 0% 0% 0%;
}

#message{
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
}

#row-spin {
    display: flex;
    justify-content: center;
  }

#input-search-product{
    margin-bottom: 1%
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #ffffff;
    border: 0px solid #d9d9d9;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(153, 151, 151, 0.2);
}