#product{
    margin: 1%;
    padding: 0% 0% 0% 2%;
}

#icon-product{
    display: flex;
    justify-content: flex-start;
    padding-top: 1.2%;
    margin-right: 2%;
}

#page-product{
    font-size: x-large;
    color: #DA213D;
    /* border-left: 2px solid #DA213D; */
    display: flex;
    padding-top: 2%;
    /* padding-left: 3%; */
}

#input-search{
    margin: 2%;
}

.anticon svg {
    display: flex;
}

#col{
    margin-left: 1%;
}

#button-print{
    background-color: #FFFFFF;
    border: none;
    color: #AEAEAE;
}

#button-addproduct{
    background-color: #DA213D;
    border: none;
    color: #FFFFFF;
}

#button-addproduct-import{
    background-color: #47d307;
    border: none;
    color: #FFFFFF;
}

#button-addproduct-eximport {
    background-color: #0126a0;
    border: none;
    color: #FFFFFF;
}

#delete{
    color: #DA213D;
}

.ant-switch-checked {
    background-color: #6DEE72;
    /* width: 50%; */
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    position: relative;
    padding: 14px 8px;
    overflow-wrap: break-word;
    padding-left: 25px;
}

#add-product{
    margin-bottom: 2%;
}

#product-detail{
    margin-bottom: 2%;
}

#form{
    padding: 1% 1% 1% 0%;
}

#input{
    background-color: #FBFBFB;
    border: #AEAEAE;
    border-radius: 1mm;
    box-shadow: 1px 1px 1px 1px rgba(153, 151, 151, 0.2);
}

#add-img{
    margin-top: 5%;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fbfbfb;
    border: 0px solid #d9d9d9;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(153, 151, 151, 0.2);
}

.ant-select {
    width: 170px;
    background-color: #FBFBFB;
    border-radius: 1mm;
}

.ant-upload-list {
    display: flex;
    justify-content: center;
}

.ant-upload.ant-upload-select-picture-card {
    width: 104px;
    height: 104px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #fafafa;
    border: 1px dashed #DA213D;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.anticon svg {
    display: flex;
    color: #DA213D;
}

.ant-btn-primary {
    color: #fff;
    background-color: #DA213D;
    border-color: #DA213D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

#row-price{
    margin-top: 2%;
}

#col-center-header {
    font-weight: 500;
    text-align: center;
}

#col-price {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#input-price {
    text-align: center;
}

.ant-spin-container {
    position: inherit;
  }

  .ant-spin-nested-loading > div > .ant-spin {
    z-index: 50000;
    max-height: 960px;
}

#header-img {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: large;
}