#setting{
    margin: 1%;
    padding: 0% 0% 0% 2%;
}

#icon-setting{
    display: flex;
    justify-content: flex-start;
    margin-right: 2%;
    padding-top: 1.8%;
}

#page-setting{
    font-size: x-large;
    color: #DA213D;
    /* border-left: 2px solid #DA213D; */
    display: flex;
    padding-top: 2%;
    /* padding-left: 3%; */
}

#row-level{
    margin: 3%;
}

#row-level2{
    margin: 1%;
}

#col-level{
    background-color: #ffffff;
    border-radius: 2mm;
    padding: 3%;
    margin-right: 1%;
}

#col-level1{
    background-color: #ffffff;
    border-radius: 2mm;
    padding: 3%;
    /* margin-right: 1%; */
}

#header-collevel{
    font-size: large;
    margin-bottom: 1%;
}

#edit-level{
    background-color: #DA213D;
    color: #ffffff;
    border-radius: 1mm;
}

#col-editlevel{
    margin: 1%;
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;;
}

.ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

#button-addcatalog{
    background-color: #DA213D;
    border: none;
    color: #FFFFFF;
    margin-bottom: 1%;
}

.ant-table table {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

#col-marginlevel{
    margin-bottom: 1%;
}

#input-level{
    background-color: #FBFBFB;
    border: #AEAEAE;
    border-radius: 1mm;
    box-shadow: 0.5px 0.5px 0px 0.5px rgba(153, 151, 151, 0.2);
    width: fit-content;
}

#input-poinr{
    background-color: #FBFBFB;
    border: #AEAEAE;
    border-radius: 1mm;
    box-shadow: 1px 1px 1px 1px rgba(153, 151, 151, 0.2);
}

#change-imagehome{
    margin: 3%;
    background-color: #ffffff;
    border-radius: 2mm;
    padding: 3%;
    font-size: large;
}
#input-point{
    position: relative;
    background-color: #fbfbfb;
    border: 0px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(153, 151, 151, 0.2);
}

#img-sizehome{
    color: #DA213D;
    font-size: 14px;
}